<div class="mat-elevation-z8">
  <table
    cdk-table
    class="full-width-table"
    [dataSource]="dataSource"
    aria-label="Elements"
  >
    <!-- Id Column -->
    <ng-container cdkColumnDef="id">
      <th cdk-header-cell *cdkHeaderCellDef>Id</th>
      <td cdk-cell *cdkCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
      <th cdk-header-cell *cdkHeaderCellDef>Name</th>
      <td cdk-cell *cdkCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
