<div class="mat-elevation-z8">
  <table
    cdk-table
    class="full-width-table"
    [dataSource]="dataSource"
    aria-label="Elements"
  >
    <ng-container *ngFor="let header of headers">
      <!-- Default Column -->
      <ng-container [cdkColumnDef]="header">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ translatedHeaders[header] | translate }}
        </th>
        <td cdk-cell *cdkCellDef="let row">
          <app-custom-column
            *ngIf="customColumns && customColumns[header]; else nomCustom"
            [customColumn]="customColumns[header]"
            [row]="row"
            [column]="header"
          ></app-custom-column>
          <ng-template #nomCustom>
            {{ row[header] }}
          </ng-template>
        </td>
      </ng-container>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="headers"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: headers"></tr>
  </table>
</div>
